@import "~bootstrap/dist/css/bootstrap.css";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

$blue: #146eb5;
$green: rgb(99, 175, 131);
$text-light: #fff;
.banner-section {
  background-image: linear-gradient(to right, $blue , $green);

  color: $text-light;
}
